
<div class="row mt-5">
        <app-product class="col-4"></app-product>
        <app-product class="col-4"></app-product>
        <app-product class="col-4"></app-product>
        <app-product class="col-4"></app-product>
        <app-product class="col-4"></app-product>
        <app-product class="col-4"></app-product>
        <!-- <div class="col-4">
            <div class="card">
                <img src="/assets/images/image2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bongo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="/assets/images/image3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hollis</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div> -->
</div>