<div class="card">
  <!-- property binding to image tag (A type of data binding)
  otherwise string interpolation can be used "{{product.productImage}}"
  -->
  <img 
  [src]="productProperties.productImage"
  class="card-img-top" 
  alt="Image"
  >
    <div class="card-body">
      <h5 class="card-title">{{productProperties.productName}}</h5><!--stringInterpolation(Small conditions can be checked like ternary operator) -->
      <p class="card-text">{{productProperties.productDescription}}</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
</div>
